<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteRule ^index.html$ / [L,R=301]
RewriteRule ^index.htm$ / [L,R=301]
RewriteRule ^index.asp$ / [L,R=301]
RewriteRule ^index.phtml$ / [L,R=301]

RewriteCond %{HTTP_USER_AGENT} ^rogerbot [OR]
RewriteCond %{HTTP_USER_AGENT} ^exabot [OR]
RewriteCond %{HTTP_USER_AGENT} ^MJ12bot [OR]
RewriteCond %{HTTP_USER_AGENT} ^dotbot [OR]
RewriteCond %{HTTP_USER_AGENT} ^gigabot [OR]
RewriteCond %{HTTP_USER_AGENT} ^AhrefsBot
RewriteRule .* - [F]

# BEGIN OldUrls

RewriteRule ^wp-login.php$ files/wp-login.html [L]
RewriteCond %{QUERY_STRING} ^action=lostpassword$
RewriteRule ^wp-login.php$ files/wp-login.php-action-lostpassword.html [L]
RewriteRule ^bio/$ files/bio.html [L]
RewriteRule ^bio/butler-octavia-v1-2/$ files/bio-butler-octavia-v1-2.html [L]
RewriteRule ^publications/$ files/publications.html [L]
RewriteRule ^2016/07/kindred-graphic/$ files/2016-07-kindred-graphic.html [L]
RewriteRule ^2016/07/kindred-graphic/www.barnesandnoble.com/s/9781419709470$ files/2016-07-kindred-graphic-www.barnesandnoble.com-s-9781419709470.html [L]
RewriteRule ^2011/01/fledgling-hardcover/$ files/2011-01-fledgling-hardcover.html [L]
RewriteRule ^2011/01/fledgling-hardcover/fledgling01/$ files/2011-01-fledgling-hardcover-fledgling01.html [L]
RewriteRule ^news/$ files/news.html [L]
RewriteRule ^2010/06/liliths-brood/$ files/2010-06-liliths-brood.html [L]
RewriteRule ^2010/06/liliths-brood/lilithsbrood/$ files/2010-06-liliths-brood-lilithsbrood.html [L]
RewriteRule ^2010/06/fledgling/$ files/2010-06-fledgling.html [L]
RewriteRule ^2010/06/adulthood-rites/$ files/2010-06-adulthood-rites.html [L]
RewriteRule ^2010/06/adulthood-rites/adulthoodrites/$ files/2010-06-adulthood-rites-adulthoodrites.html [L]
RewriteRule ^2010/06/adulthood-rites/adulthoodrites/*$ files/2010-06-adulthood-rites-adulthoodrites.html [L]
RewriteRule ^2010/06/imago/$ files/2010-06-imago.html [L]
RewriteRule ^2010/06/imago/imago-2/$ files/2010-06-imago-imago-2.html [L]
RewriteRule ^2010/06/dawn/$ files/2010-06-dawn.html [L]
RewriteRule ^2010/06/dawn/dawn-2/$ files/2010-06-dawn-dawn-2.html [L]
RewriteRule ^2017/03/parable-of-the-sower-new-edition/$ files/2017-03-parable-of-the-sower-new-edition.html [L]
RewriteRule ^2010/06/parable-of-the-sower/$ files/2010-06-parable-of-the-sower.html [L]
RewriteRule ^2010/06/parable-of-the-sower/parablesower/$ files/2010-06-parable-of-the-sower-parablesower.html [L]
RewriteRule ^2010/06/parable-of-the-talents/$ files/2010-06-parable-of-the-talents.html [L]
RewriteRule ^2010/06/parable-of-the-talents/parabletalents/$ files/2010-06-parable-of-the-talents-parabletalents.html [L]
RewriteRule ^2010/06/mind-of-my-mind/$ files/2010-06-mind-of-my-mind.html [L]
RewriteRule ^2010/06/mind-of-my-mind/mindofmymind/$ files/2010-06-mind-of-my-mind-mindofmymind.html [L]
RewriteRule ^2010/06/patternmaster/$ files/2010-06-patternmaster.html [L]
RewriteRule ^2010/06/patternmaster/patternmaster-2/$ files/2010-06-patternmaster-patternmaster-2.html [L]
RewriteRule ^2010/06/survivor/$ files/2010-06-survivor.html [L]
RewriteRule ^2010/06/643/$ files/2010-06-643.html [L]
RewriteRule ^2010/06/643/wild-seed/$ files/2010-06-643-wild-seed.html [L]
RewriteRule ^2010/06/clays-ark/$ files/2010-06-clays-ark.html [L]
RewriteRule ^2010/06/clays-ark/claysark/$ files/2010-06-clays-ark-claysark.html [L]
RewriteRule ^2010/06/clays-ark/claysark/*$ files/2010-06-clays-ark-claysark.html [L]
RewriteRule ^2010/06/seed-to-harvest/$ files/2010-06-seed-to-harvest.html [L]
RewriteRule ^2010/06/seed-to-harvest/seedtoharvest/$ files/2010-06-seed-to-harvest-seedtoharvest.html [L]
RewriteRule ^2010/06/bloodchild-and-other-stories/$ files/2010-06-bloodchild-and-other-stories.html [L]
RewriteRule ^2010/06/bloodchild-and-other-stories/bloodchild/$ files/2010-06-bloodchild-and-other-stories-bloodchild.html [L]
RewriteRule ^2011/01/kindred-audiobook/$ files/2011-01-kindred-audiobook.html [L]
RewriteRule ^2011/01/kindred-audiobook/kindredcd/$ files/2011-01-kindred-audiobook-kindredcd.html [L]
RewriteRule ^2011/01/wild-seed-audiobook/$ files/2011-01-wild-seed-audiobook.html [L]
RewriteRule ^2011/01/parable-of-the-sower-audiobook/$ files/2011-01-parable-of-the-sower-audiobook.html [L]
RewriteRule ^2011/01/parable-of-the-sower-audiobook/parablesowercd/$ files/2011-01-parable-of-the-sower-audiobook-parablesowercd.html [L]
RewriteRule ^2011/01/fledgling-audiobook/$ files/2011-01-fledgling-audiobook.html [L]
RewriteRule ^2010/06/fledgling/fledgling-2/$ files/2010-06-fledgling-fledgling-2.html [L]
RewriteRule ^2011/01/parable-talents-audio/$ files/2011-01-parable-talents-audio.html [L]
RewriteRule ^2011/01/parable-talents-audio/parabletalentscd/$ files/2011-01-parable-talents-audio-parabletalentscd.html [L]
RewriteRule ^readinggroups/$ files/readinggroups.html [L]
RewriteRule ^praise/$ files/praise.html [L]
RewriteRule ^links/$ files/links.html [L]
RewriteRule ^scholarship/$ files/scholarship.html [L]
RewriteRule ^contact/$ files/contact.html [L]
RewriteRule ^buy/$ files/buy.html [L]
RewriteRule ^2017/08/dawn-being-adadpted-for-television-by-charles-d-kings-macro-and-director-writer-victoria-mahoney/$ files/2017-08-dawn-being-adadpted-for-television-by-charles-d-kings-macro-and-director-writer-victoria-mahoney.html [L]
RewriteRule ^2017/03/flavorwire-interview-kindred-artist-john-jennings-talks-about-adapting-octavia-butler-in-comic-form/$ files/2017-03-flavorwire-interview-kindred-artist-john-jennings-talks-about-adapting-octavia-butler-in-comic-form.html [L]
RewriteRule ^2017/03/parable-of-the-talents-new-edition/$ files/2017-03-parable-of-the-talents-new-edition.html [L]
RewriteRule ^scholarship-fund/$ files/scholarship-fund.html [L]
# END OldUrls


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(\.png|\.jpg|\.gif|\.jpeg|\.bmp|\.js|\.css)$
RewriteRule . / [L,R=301]

</IfModule>
